.modal-background{
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  height: auto;
}

.modal-main{
  width: 90%;
  height: auto;
}

.unhovered {
  fill: "#808080";
  font-family: 'Helvetica Neue', Helvetica, 'Arial';
  color: rgb(128,128,128);
  display: flex;
  align-items: center;
}

.hovered {
  fill: white;
  font-family: 'Helvetica Neue', Helvetica, 'Arial';
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.picture-info{
  width: 100%;
  height: auto;
}

.picture-detail-grid{
  display: grid
}

.media{

}

.picture-footer{

}

.sidebar {

}