.photo-layout{
    width: 660px;
    height: 220px;
    display: flex;
    align-items: center;
    z-index: 100;
}

.hide{
    position: absolute;
    width: 250px;
    height: 48px;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: 10;
    -webkit-box-flex: 1;
    display: flex;
    flex: 1;
    top: 200px;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 12px;
    line-height: 1.5em;
    color: rgba(225,225,225,0.9);
    overflow-wrap: break-word;
    vertical-align: baseline;
}

.text {
    color: white;
    font-weight: bold;
}

.text-box {
    width: 195px;
    height: 36px;
    min-width: 0;
    min-height: 0;
}

.regular {
    position: relative;
    object-fit: cover;
    width: 220px;
    height: 220px;
}

.selected {
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.display{
    position: absolute;
    width: 250px;
    height: 48px;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    z-index: 10;
    -webkit-box-flex: 1;
    display: flex;
    flex: 1;
    top: 200px;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 12px;
    line-height: 1.5em;
    color: rgba(225,225,225,0.9);
    overflow-wrap: break-word;
    vertical-align: baseline;
}

.userPic{
    width: 36px;
    height: 36px;
    border-radius: 10%;
}

.photo1 {
    position: relative;
}

.photo2 {
    position: relative; 
}

.photo3 {
    width: 220px;
    height: 220px;
    position: relative;
}

.collectionOverlay {
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
}


